{% assign current_lang = page.lang | default: "en" %}
{% assign t = site.data.i18n[current_lang] %}
{% assign words = post.content | number_of_words %}
{% if current_lang == "pl" %}
  {% assign post_date_display = post.date | date: "%d.%m.%Y" %}
{% else %}
  {% assign post_date_display = post.date | date: "%B %d, %Y" %}
{% endif %}
{% assign post_image = post.post-image %}
{% if post_image contains '://' %}
  {% assign post_image_resolved = post_image %}
{% else %}
  {% assign post_image_resolved = post_image | relative_url %}
{% endif %}
{% assign card_excerpt = post.description | default: post.excerpt | default: post.content %}
<div class="columns has-text-centered blog-card">
    <div class="column is-marginless is-paddingless is-one-third-desktop is-one-third-fullhd is-one-third-tablet">
        <figure class="image is-16by9">
            <img src="{{ post_image_resolved }}" alt="{{ post.title }}" loading="lazy" decoding="async">
        </figure>
    </div>
    <a href="{{ post.url | relative_url }}">
        <div class="column has-text-left-desktop has-text-left-tablet">
            <h2 class="title is-size-4-touch">{{post.title}}</h2>
            <div class="content has-text-grey">
                {{ card_excerpt | strip_html | strip_newlines | strip | truncate: 220 | escape }}
                <hr class="has-background-grey">
                <span class="has-text-grey">{{ t.blog.published_on }} <span class="has-text-weight-semibold">{{ post_date_display }}</span></span> | <i class="fas fa-clock"></i> <span class="has-text-weight-semibold">{{ words | divided_by:180 | at_least: 1 }} {{ t.blog.min_read }}</span>
            </div>
        </div>
    </a>
</div>
