{% assign current_lang = page.lang | default: "en" %}
{% assign t = site.data.i18n[current_lang] %}
{% assign routes = t.routes %}
{% assign home_url = routes.home | relative_url %}
{% assign recent_posts = site.posts | where: "lang", current_lang %}

<footer id="footer">
    <div class="container has-text-centered has-background-grey-darker" id="backtotop">
        <a class="has-text-white" href="#navbar" onclick="window.scroll({ top: 0, behavior: 'smooth' }); return false;">{{ t.footer.back_to_top }}</a>
    </div>

    <div class="has-background-grey-darker">
        <div class="container columns">
            <div class="column has-text-left-desktop has-text-centered-mobile">
                <a href="{{ home_url }}#about">
                    <div class="columns">
                        <div class="column is-one-fifth-desktop is-one-fifth-fullhd is-one-quarter-tablet">
                            <figure class="image elense-footer-logo">
                                <img src="{{ site['author-image'] | relative_url }}" alt="{{ site['author-name'] }}">
                            </figure>
                        </div>
                        <div class="column is-marginless">
                            <h5 class="has-text-grey-lighter">{{ site['author-name'] }}</h5>
                            <div class="content has-text-grey">
                                <p>{% if current_lang == "pl" and site['author-about-pl'] %}{{ site['author-about-pl'] | truncate: 75 }}{% else %}{{ site['author-about'] | truncate: 75 }}{% endif %}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="column has-text-white">
                <h3>{{ t.footer.more_links }}</h3>
                <ul>
                    <li>
                        <a href="{{ routes.projects | relative_url }}">{{ t.nav.projects }}</a>
                    </li>
                    <li>
                        <a href="{{ routes.blog | relative_url }}">{{ t.nav.blog }}</a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="{{ '/feed.xml' | relative_url }}">{{ t.footer.subscribe_rss }}</a>
                    </li>
                </ul>
            </div>

            <div class="column has-text-white">
                <h3>{{ t.footer.recent_posts }}</h3>
                {% if recent_posts.size > 0 %}
                    <ul>
                        {% for post in recent_posts limit:3 %}
                        <li>
                            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>{{ t.footer.no_recent_posts }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="has-background-black has-text-centered has-text-white" id="credits">
        <i class="far fa-copyright"></i> {{ "now" | date: "%Y" }} {{ site.title }}. {{ t.footer.credits_powered }} <a href="https://jekyllrb.com/" target="_blank" rel="noopener noreferrer">Jekyll</a>.
    </div>
</footer>
{% include snipcart.html %}
