---
layout: compress
---

{% assign current_lang = page.lang | default: "en" %}
<!DOCTYPE html>
<html lang="{{ current_lang }}">
{% include head.html %}

<body>
  {% include navbar.html %}
  {% include showcase.html %}
  {% include projects-home.html %}
  {% include about.html %}
  <!--Footer begins here-->
  {% include footer.html %}
  {% include product-preload.html %}
</body>
<script>
  var navItems = document.querySelectorAll('.nav-section-link');
  var heroes = document.getElementsByClassName('hero');
  const viewOffset = 200;

  window.addEventListener("scroll", function (event) {
    var scroll = this.scrollY;

    for (var i = 0; i < navItems.length; i++) {
      navItems[i].classList.remove('is-active');
    }

    for (var i = 0; i < heroes.length; i++) {
        var sectionTop = heroes[i].offsetTop-viewOffset;
        var sectionBottom = heroes[i].offsetTop + heroes[i].offsetHeight-viewOffset;

        if (scroll >= sectionTop && scroll < sectionBottom) {
          if (navItems[i]) {
            navItems[i].classList.add('is-active');
          }
      }
    }
  });
</script>

</html>
