---
layout: compress
---
{% assign current_lang = page.lang | default: "en" %}
{% assign t = site.data.i18n[current_lang] %}

<!DOCTYPE html>
<html lang="{{ current_lang }}">
{% include head.html %}

<body>
    {% include navbar.html %}
    {% include breadcrumbs.html %}

    <!--Main Section-->
    <section class="hero is-fullheight" id="project">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="section">
                    <h1 class="subtitle is-uppercase has-text-weight-medium has-text-grey">{{ t.projects_index.title }}</h1>
                </div>
                {% include project-card.html %}
            </div>
        </div>
    </section>

    <!--Footer-->
    {% include footer.html %}
</body>

</html>
